* {
	margin: 0;
    padding: 0;
	box-sizing: border-box;
	font-family: cursive ;
	list-style: none;
	text-decoration: none;
}
body {
	min-height: 100vh;
	background-color: white no-repeat; 
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
}
header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: coral;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 8%;
	box-shadow: 0 5px 10px #000;
}
header  .logo  {
	font-size: 20px;
	font-weight: 900;
	color: black;
	transition: .5s;
}
header .logo:hover {
	transform: scale(1.2)
}
header nav ul li {
	position: relative;
	float: left;
}
header nav ul li  {
	padding: 15px;
	color: black;
	font-size: 16px;
	display: block; 
}
button  {
	
	float: right;
    display: block;
    padding: 15;
	outline : none ;
	border: none;
	border-radius: 25px;
	background-color: lightsalmon;
	cursor: pointer;
	color: white;
	font-weight: 600;
	font-size: 20px;
	align-items: center;
	right: 40;
	left:20;
	top: 20;
	margin: 5
}
p { font-family: sans-serif;
	align-items: center;
	font-weight: 900;
}
h1 {
	font-family: sans-serif;
	align-items: center;
	font-weight:  900;
}
.container {
	flex: 1;
}
footer{
	background-color: coral;
	color: black;
}
footer a {
	color:black;
	font-size: 1.7rem;
	transition: 0.5;
}
footer a:hover{
	text-decoration: underline;
	
}
foooter ft.tittle {
	font-size: 2.5rem;
	padding-bottom: 0.5rem;
}
.ft-main {
	display: flex;
	flex-wrap: wrap;
	padding: 1.5rem;
	justify-content: space-around;
}

.ft-main-item {
	padding: 1.5rem;
	min-width: 13rem;
}
.ft-social {
	color: black;
	padding: 0rem 2rem 1.5rem;
}
.ft-social-list {
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px #000 solid;
	padding-top: 1.5rem;
}
.ft-social-list i {
	font-size: 2.5rem;
	transition: 0.3s;
}
.ft-social-list i:hover {
	transform: translateY(-0.5rem);
	color: blueviolet;
}
.fl-legal{
	padding: 1rem 2rem;
	background-color:yellow;
	display: flex;
		align-items:center;
	flex-wrap: wrap;
}
.fl-legal-list {
	margin-left: 1.5rem;
	white-space: nowrap;
}
.fl-legal-list-li:nth-child(2) {
	flex:1;
	background: 
}
